/* main stylesheet */
/*  */
/* Alun Ward, 2006 for Clare Bassett */
/* alun@eyedivision.co.uk */

html { 
	height:100%;
	margin:0px;
	padding:0px;
}

body {
	position:relative;
	font-family: century gothic, verdana, helvetica, arial, sans-serif;
	font-size:1em;
	line-height:2em;
	margin:0px;
	color:#000;
	text-align:center;
	height:100%;
	padding:0;
	width: 100%;
	background-color:#FFFFCC;
}

#container {	
	line-height:130%;
	text-align:center;
	margin: 25px auto 10px auto;
	/*border: 1px #FFF solid;*/
	padding:5px;
	width:80%;
	background-color:#FFFFCC;
}

#content {	
	float: left;
	width: 75%;
	padding:0px;
	margin:0px;	
	line-height:130%;
	font-size:small;
	text-align:left;
	/*
	background-color:#FFF;
	border: 1px solid grey;  */
}
a { background-color:#FFFFCC; border:none;}
a:link { color:#000; background-color:#FFFFCC; text-decoration: none; }
a:visited { color:#000; background-color:#FFFFCC; text-decoration: none;  }
a:hover { color:#990000; background-color:#FFFFCC; text-decoration: none; }
a:active { color:#990000; background-color:#FFFFCC; text-decoration: none; }

#left {
	width: 20%;
	float: left;
	padding:0px;
	margin: 50px 5px 0px 5px; /* top right bottom left */
	font-size:small;
	text-align:left;
	line-height: 130%;
}

#left A:link { color:#000; }
#left A:visited { color:#000; }
#left A:hover { color:#FF0000; }
#left A:active { color:#FF000; }

#left a.selected{ 
	color:#000; 
	background-color:#FFF; 
	font-weight:bold;
}
#left a.selected:link { color:#000; }
#left a.selected:visited { color:#000; }
#left a.selected:hover { color:#000; }
#left a.selected:active { color:#000; }

#page {
	margin-top:20px;
}

#subcats {
	display:block;
	padding:2px 0px 2px 10px;
	line-height:110%;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size:x-large;
	font-weight: bold;
	padding-top:4px;
	margin: 0px 0px 30px 0px;
	letter-spacing: 0.8em;	
	text-align:center;
}
h1 A:link, h1 A:visited {
	text-decoration:none;
	border:none;
}



b, strong { font-weight: 900; }

li, ul, ol {  
	font-style: normal; 
	font-weight: normal; 
}

.small { font-size: 10px; }


#credits {
	clear:both;
	font-size:x-small;
	text-align: center;
	padding-top: 5px;
}

#credits A IMG, #credits A:link {
	border:none;
}



.required {
	color:#CC0000;
}
#imagedetails {
	text-align:left;
	line-height:normal;
	
}
#imagedetails #right {
	float:right;
	text-align:right;
}
#images {
	text-align:center;
	margin:20px;
}
#images img, #randomImages img {
	border:none;
}

#images A:link, #images A:hover, #images A:visited, #header A:link, #header A:hover, #header A:visited, #footer A:link, #footer A:hover {
	border-bottom:none;
	text-decoration:none;
}
#images .thumb {
	margin: 20px;
}

#images .pagination {
	clear:both;
	margin: 5px;
}

form { 
	/*font-size : 1em; */
	width: 640px;
	padding-top: 25px;
}

select {
	/*width: 200px;*/
	text-align: left;	
}

fieldset { 
	padding : 10px;
	margin: 0px;
	border-color:#CCC;
	border-style: solid;
	border-width: 1px;
} 

form br {
	clear: left;
}

label { 	
	display : block; 
	float: left;
	width: 150px;
	padding: 0px;
	text-align:right;
	margin : 5px 0px 0px; 
}

textarea { overflow: auto; }
textarea { 
	overflow: auto; 
	border#666 1px solid;
	background:#CCC;
}
input {
	border:#666 1px solid;
	background:#CCC;
}
input:focus {
	background: #FFF;
}
textarea:focus {
	background: #FFF;
}
