---
layout: page
main_image_path: /assets/images/Headwind.jpg
image_caption: Headwind, screenprint
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
---
<div class="page">

    <div class="intro editable">
      <p>Clare has been working for over thirty years creating lithographs, screenprints and oil paintings of monumental female figures. Her&nbsp; prints are limited editions and each one is hand-printed and then hand-coloured in her studios. She works in London and Gloucestershire.&nbsp; More recently she has been creating work by responding to live dance movement. This rapid, gestural, abstract&nbsp; work is an interesting foil to the studied figurative pieces.<br />&nbsp;</p>
    </div>
   <!-- <div class="gallery">
      {% for gallery in site.gallery %}

           <div class="gallery-box gallery-box-home {% cycle '', ' last' %}">
              <a href="{{ gallery.url }}">

                {% if gallery.main_image_path %}
                  {% include img.html src=gallery.main_image_path width=400 height=300 %}
                {% else %}
                  {% include img.html src="/siteicon.png" width=400 height=300 %}
                {% endif %}

                <h3>{{ gallery.title }}</h3>
              </a>

           </div>

      {% endfor %}
      </div>
    -->
  
