---
layout: page
title: "Paintings"
permalink: /paintings/
---
<div class="gallery">

{% for paintingsgallery in site.paintings %}

     <div class="gallery-box{% cycle '', ' last' %}">

          <a href="{{ paintingsgallery.permalink }}" title="{{ paintingsgallery.title }}">
	          {% include img.html src=paintingsgallery.main_image_path width=200 height=200 fit=crop alt=paintingsgallery.title %}
	          <h4>{{ paintingsgallery.title }}</h4>
          </a>

     </div>

{% endfor %}
</div>
